/* 常用 flex */
.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fix-align-center {
  display: flex;
  align-items: center;
}

/* 清除浮动 */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自动换行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

// /* fade-transform */
// .fade-transform-leave-active,
// .fade-transform-enter-active {
//   transition: all 0.2s;
// }

// .fade-transform-enter-from {
//   opacity: 0;
//   transition: all 0.2s;
//   transform: translateX(-30px);
// }

// .fade-transform-leave-to {
//   opacity: 0;
//   transition: all 0.2s;
//   transform: translateX(30px);
// }
